<!-- <div id="malicious_call"> 
    <%= render :partial => 'index' %>
  </div>  
 -->


<!-- Tabs -->
<h3 class="tit">Аварийная панель</h3>

<div class="tabs box">
  <ul>
    <li><a href="#tab01"><span>Аварийная панель</span></a></li>
    <li><a href="#tab02"><span>История</span></a></li>    
  </ul>
</div> <!-- /tabs -->

<!-- Tab01 -->
<div id="tab01">

  <%= render :partial => 'index' %>

</div> <!-- /tab01 -->


<!-- Tab02 -->
<div id="tab02">
  
   <%= render :partial => 'history' %>

</div> <!-- /tab02 -->




